@model IEnumerable<Post>
@{

}
@*<h1>Home Page</h1>
*@
@*<img src="~/content/static/IMG_6006.JPG" alt="Nature pic" width="100%" />*@
<div class="main-img">
    <span class="title">My Blog Post</span>
</div>
<div class="container">
    @* <ul> *@
    @* 	@foreach (var post in Model) *@
    @* 	{ *@
    @* *@
    @* 		<li> *@
    @* 			<a asp-controller="Home" asp-action="Post" asp-route-id="@post.ID"> *@
    @* 				@post.Title *@
    @* 			</a> *@
    @* 		</li> *@
    @* 	} *@
    @* </ul> *@
    @foreach (var post in Model)
    {
        var image_path = $"/image/{post.Image}";
        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.ID">
            <img src="@image_path" alt="Some pic"/>
            <span class="title">
                @post.Title
            </span>
        </a>
    }
</div>