@using System.Text.RegularExpressions
@model Post
@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = $"{Model.Description}";
    ViewBag.Keywords = $"{Model.Tags?.Replace(",", " ")} {Model.Category}";
}
@* <h1>Post</h1> *@
<div>
    @* <p>@Model.Title</p> *@
    @* *@
    @* @if (!string.IsNullOrEmpty(Model.Image)) *@
    @* { *@
    @*     var image_path = $"/image/{Model.Image}"; *@
    @*     <img src="@image_path" alt="Some pic" width="500"/> *@
    @* } *@
    @* <p>@Model.Body</p> *@
    <div class="container">
        <div class="post">
            @if (!string.IsNullOrEmpty(Model.Image))
            {
                var image_path = $"/image/{Model.Image}";
                <img src="@image_path" alt="Some pic" width="500"/>
                <span class="title">
                    @Model.Title
                </span>
            }
        </div>
        <div class="post-body">
           @Html.Raw( @Model.Body)
        </div>
        <a asp-controller="Panel" asp-action="Index">
        To the list of posts
        </a>
    </div>
    <br/>

</div>