@model IndexViewModel

<div class="pages">
	@{
		if (Model.PageNumber > 1)
		{
			<a asp-controller="Home" asp-action="Index" asp-route-category="@Model.Category" 
			asp-route-searchString="@Model.SearchString" asp-route-pageNumber="@(Model.PageNumber - 1)"> &lt; </a>
		}

		foreach (var p in Model.Pages)
		{
			if (p == -1)
			{
				<span>...</span>
			}
			else
			{
				<a class="@(p == Model.PageNumber ? "current-page" : "")" asp-controller="Home" asp-action="Index" 
				asp-route-category="@Model.Category" asp-route-searchString="@Model.SearchString" 
				asp-route-pageNumber="@p">@p</a>
			}
		}

		if (Model.CanGoNext)
		{
			<a asp-controller="Home" asp-action="Index" asp-route-category="@Model.Category" 
			asp-route-searchString="@Model.SearchString" asp-route-pageNumber="@(Model.PageNumber + 1)"> > </a>
		}
	}
</div>